html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ul,
ol {
  list-style: none;
  display: block;
}

a {
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
}
button {
  border: 0;
  background-color: transparent;
}

img {
  vertical-align: top;
}

input {
  width: 100%;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
._text_size_l {
  font-size: calc(8px + 0.8333333333vw);
}
@media (min-width: 1920px) {
  ._text_size_l {
    font-size: 22px;
  }
}

._text_size_lx {
  font-size: calc(8px + 1.6666666667vw);
}
@media (min-width: 1920px) {
  ._text_size_lx {
    font-size: 40px;
  }
}

._text_size_xl {
  font-size: calc(8px + 2.8125vw);
}
@media (min-width: 1920px) {
  ._text_size_xl {
    font-size: 62px;
  }
}

body {
  --bodyColor:#1a1a1a;
  --bodyColorSuper:black;
  --bodyColorContrast:white;
  --logoColor: white;
  background-color: var(--bodyColor);
  transition: 0.3s ease-in;
}
body.body__bgc_white {
  --bodyColor: #efeded;
  --bodyColorSuper: white;
  --bodyColorContrast: black;
  --logoColor: #E31E24;
}

body,
button {
  color: black;
  font: 400 16px Montserrat, sans-serif;
  line-height: normal;
}

.body-wrapper {
  position: relative;
  min-height: 200%;
}

._conteiner {
  margin: 0 auto;
  padding: 0 5px;
  width: calc(85px + 61.4583333333vw);
  max-width: 1260px;
  box-sizing: border-box;
}

._conteiner-big {
  margin: 0 auto;
}

._template_button_style_0 {
  --color: white;
  --colorHover: black;
  display: inline-block;
  position: relative;
  padding: calc(0px + 0.5208333333vw) calc(8px + 1.0416666667vw);
  border: 1px solid var(--color);
  font-size: 16px;
  font-weight: 700;
  color: var(--color);
  text-transform: uppercase;
  background-color: transparent;
  overflow: hidden;
  z-index: 0;
  transition: 400ms linear 0ms;
  white-space: nowrap;
  cursor: pointer;
}
._template_button_style_0::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  inset: 0;
  transform: translateX(-100%);
  background-color: var(--color);
  z-index: -1;
  transition: 200ms linear 100ms;
  opacity: 0.3;
}
._template_button_style_0:hover, ._template_button_style_0.hover {
  color: var(--colorHover);
}
._template_button_style_0:hover::before, ._template_button_style_0.hover::before {
  transform: translateX(0%);
  opacity: 1;
}

._template_underline_style_0 {
  position: relative;
  white-space: nowrap;
  --color: white;
}
._template_underline_style_0::after {
  content: "";
  position: absolute;
  bottom: 0px;
  display: block;
  width: 0%;
  height: 1px;
  border-radius: 1px;
  background-color: var(--color);
  transition: 200ms ease-out;
  transition-delay: 100ms;
}
._template_underline_style_0:hover::after, ._template_underline_style_0.hover::after {
  width: 100%;
  transition-delay: 0ms;
}

._template_underline_style_0__hoverBlock:hover ._template_underline_style_0__target {
  position: relative;
  white-space: nowrap;
}
._template_underline_style_0__hoverBlock:hover ._template_underline_style_0__target::after {
  content: "";
  position: absolute;
  bottom: 0px;
  display: block;
  width: 0%;
  height: 1px;
  border-radius: 1px;
  background-color: rgb(255, 0, 0);
  transition: 200ms ease-out;
  transition-delay: 100ms;
}
._template_underline_style_0__hoverBlock:hover ._template_underline_style_0__target:hover::after, ._template_underline_style_0__hoverBlock:hover ._template_underline_style_0__target.hover::after {
  width: 100%;
  transition-delay: 0ms;
}

._template_underline_style_1 {
  position: relative;
  white-space: nowrap;
  --line-color: white;
  --line-height: 1px;
}
._template_underline_style_1::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  display: block;
  width: 100%;
  height: var(--line-height);
  border-radius: 1px;
  background-image: linear-gradient(to left, var(--line-color), var(--line-color));
  background-repeat: no-repeat;
}
._template_underline_style_1:hover::after {
  animation: underlineAnim 500ms ease-out;
}
@keyframes underlineAnim {
  from {
    background-size: 100% 100%;
    background-position: right;
  }
  50% {
    background-size: 0% 100%;
    background-position: right;
  }
  51% {
    background-position: left;
  }
  to {
    background-size: 100% 100%;
    background-position: left;
  }
}

._template_hover_scale_anim:hover {
  transform: scale(1.15);
  transition: 0.2s ease-out 50ms;
}

._template_hover_climbUp_anim {
  transition: 0.5s ease-out 50ms;
}
._template_hover_climbUp_anim:hover:not(.climbUpBan), ._template_hover_climbUp_anim:hover .climbUpTARGET {
  transform: translateY(-3%);
}
._template_hover_climbUp_anim .climbUpTARGET {
  transition: 0.3s ease-out 50ms;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: calc(10px + 0.78125vw) calc(10px + 1.0416666667vw) calc(8px + 0.78125vw);
  z-index: 10;
}
header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
header .wrapper.wrapper_left .logo {
  opacity: 0;
  animation: header__show_logo 0.4s ease-in forwards;
  animation-delay: 0.5s;
}
@keyframes header__show_logo {
  from {
    transform: translateX(-20px);
  }
  80% {
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
header .wrapper.wrapper_left .logo svg {
  width: calc(40px + 2.34375vw);
}
header .wrapper.wrapper_left .logo svg path {
  fill: var(--logoColor);
}
header .wrapper.wrapper_left .button {
  margin-left: calc(20px + 4.1666666667vw);
  transition: 0.4s ease-in 0.2s;
  --color: var(--bodyColorContrast);
  --colorHover: var(--bodyColorSuper);
}
header .wrapper.wrapper_left .button.animFirstShow {
  opacity: 0;
  animation: header__show_buttom 0.4s ease-in forwards;
  animation-delay: 0.8s;
}
@keyframes header__show_buttom {
  from {
    transform: translateX(-20px);
  }
  70% {
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
header .wrapper.wrapper_left .button .short_title {
  display: none;
}
@media (max-width: 1200px) {
  header .wrapper.wrapper_left .button {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  header .wrapper.wrapper_left .button {
    margin-left: calc(15px + 0.5208333333vw);
  }
  header .wrapper.wrapper_left .button .full_title {
    display: none;
  }
  header .wrapper.wrapper_left .button .short_title {
    display: block;
  }
}
header .wrapper.wrapper_right {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
header .wrapper.wrapper_right nav {
  transition: 0.5s ease-in;
}
header .wrapper.wrapper_right ul {
  display: flex;
  justify-content: space-between;
}
header .wrapper.wrapper_right ul.short_nuv {
  display: none;
}
header .wrapper.wrapper_right ul.short_nuv svg {
  width: 20px;
  fill: var(--bodyColorContrast);
}
@media (max-width: 370px) {
  header .wrapper.wrapper_right ul.short_nuv svg {
    width: 15px;
  }
  header .wrapper.wrapper_right ul.short_nuv li {
    margin-right: calc(10px + 0.5208333333vw);
  }
  header .wrapper.wrapper_right ul.short_nuv li:last-child {
    margin-right: 15px;
  }
}
header .wrapper.wrapper_right ul li {
  margin-right: calc(20px + 0.5208333333vw);
  transition: 0.5s ease-in;
  transition-delay: calc(var(--i) * 50ms);
}
header .wrapper.wrapper_right ul li.animFirstShow {
  opacity: 0;
  animation: header__show_listElem 0.4s ease-in forwards;
  animation-delay: calc(var(--i) * 250ms + 1.5s);
}
@keyframes header__show_listElem {
  from {
    transform: translateX(-20px);
  }
  70% {
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
header .wrapper.wrapper_right ul a {
  color: white;
  color: var(--bodyColorContrast);
  font-weight: 700;
  font-size: 14px;
}
header .wrapper.wrapper_right ul a._template_underline_style_0 {
  --color: var(--bodyColorContrast);
}
@media (max-width: 720px) {
  header .wrapper.wrapper_right ul.full_nav {
    display: none;
  }
  header .wrapper.wrapper_right ul.short_nuv {
    display: flex;
  }
}
@media (max-width: 330px) {
  header .wrapper.wrapper_right ul.short_nuv {
    display: none;
  }
}
header .wrapper.wrapper_right .burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(27px + 0.4166666667vw);
  height: calc(22px + 0.2604166667vw);
  overflow: hidden;
}
header .wrapper.wrapper_right .burger.animFirstShow {
  opacity: 0;
  animation: header__show_burger 0.5s ease-in forwards;
  animation-delay: 4.5s;
}
@keyframes header__show_burger {
  from {
    transform: translateX(0px) scale(2);
  }
  40% {
    opacity: 0.8;
  }
  80% {
    transform: translateX(0) scale(0.7);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
header .wrapper.wrapper_right .burger .line {
  position: relative;
  left: -130%;
  height: 4px;
  width: 230%;
  border-radius: 1px;
  background-color: transparent;
  background-image: linear-gradient(90deg, var(--bodyColorContrast) 48%, transparent 48%, transparent 56%, var(--bodyColorContrast) 56%);
}
header .wrapper.wrapper_right .burger:hover {
  cursor: pointer;
}
@media (min-width: 720px) {
  header .wrapper.wrapper_right .burger:hover .line {
    animation: animate_burgerLine 0.8s ease-out infinite;
    animation-delay: calc(var(--i) * 110ms);
  }
}
@media (min-width: 721px) {
  header.hidden_nav li {
    opacity: 0 !important;
    pointer-events: none;
    transform: translateX(20px) !important;
  }
  header.hidden_nav .button {
    opacity: 0;
    pointer-events: none;
    transform: translateX(20px);
    transition-delay: 0.1s !important;
  }
}
header .background {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bodyColorSuper);
  filter: opacity(80%);
  z-index: 2;
}
@media (max-width: 720px) {
  header .background {
    display: block;
  }
}

@keyframes animate_burgerLine {
  0% {
    left: -130%;
  }
  80%, 100% {
    left: 0%;
  }
}
section.screen_kit {
  position: fixed;
  width: 100vw;
  height: 100vh;
  color: red;
  font-size: 40px;
  z-index: 200;
  pointer-events: none;
}
section.screen_kit .wrapper {
  position: relative;
  padding: calc(10px + 2.0833333333vw);
  width: 100%;
  height: 100%;
}
section.screen_kit .wrapper > * {
  pointer-events: all;
}
section.screen_kit .wrapper .button {
  position: absolute;
  white-space: nowrap;
  bottom: 10px;
  padding: 10px 20px;
  transform-origin: 0 0;
  --color: var(--bodyColorContrast);
  --colorHover: var(--bodyColorSuper);
  transform: rotateZ(-90deg) translateX(20px);
  transition: 0.4s ease-in-out;
  opacity: 0;
}
section.screen_kit .wrapper .button.show {
  transform: rotateZ(-90deg);
  opacity: 1;
}
@media (max-width: 720px) {
  section.screen_kit .wrapper .button.show {
    transform: rotateZ(-90deg) translateX(50px);
    opacity: 0;
  }
}
section.screen_kit .wrapper .helper {
  position: absolute;
  white-space: nowrap;
  bottom: -40px;
  left: 260px;
  transform-origin: 0 0;
  --color: var(--bodyColorContrast);
  --colorHover: var(--bodyColorSuper);
  transform: rotateZ(-90deg) translateX(20px);
  transition: 0.4s ease-in-out;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3em;
  color: white;
}
section.screen_kit .wrapper .helper::before {
  content: "";
  margin-right: 5px;
  display: inline-block;
  width: 60px;
  height: 2px;
  background-image: linear-gradient(to right, white, white);
  animation: screen_kit__lineAnim 4000ms ease;
  background-repeat: no-repeat;
  vertical-align: middle;
  animation-iteration-count: infinite;
}
@keyframes screen_kit__lineAnim {
  from {
    background-size: 100% 100%;
    background-position: left;
  }
  15% {
    background-size: 0% 100%;
    background-position: left;
  }
  16% {
    background-size: 0% 100%;
    background-position: right;
  }
  40% {
    background-size: 100% 100%;
    background-position: right;
  }
}
section.screen_kit .wrapper .contacts {
  position: absolute;
  right: 50px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  width: max-content;
  font-size: 16px;
  color: var(--bodyColorContrast);
  transition: 0.5s ease-in;
}
@media (max-width: 720px) {
  section.screen_kit .wrapper .contacts {
    transform: translateY(-50px);
    opacity: 0;
  }
}
section.screen_kit .wrapper .contacts :not(:first-child) {
  margin-top: 15px;
}
section.screen_kit .wrapper .contacts .number {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
}
section.screen_kit .wrapper .contacts svg {
  width: 20px;
  fill: var(--bodyColorContrast);
}

section.main {
  position: relative;
  top: 0;
  width: 100%;
  background-color: #333;
  z-index: 1;
}
section.main .live_background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
section.main .live_background img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transform-origin: center center;
}
section.main .live_background img:last-child {
  animation: live_background 6s ease-out;
}
section.main .live_background img.active {
  animation: live_background_shift 6s ease-out;
}
@keyframes live_background {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@keyframes live_background_shift {
  from {
    opacity: 0;
    transform: scale(1.2);
  }
  10% {
    opacity: 1;
  }
  to {
    transform: scale(1);
  }
}
section.main .blackout {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
section.main .content {
  margin-top: 50px;
  display: flex;
  align-items: center;
  position: relative;
  padding: calc(90px + 13.0208333333vw) 0 calc(60px + 13.0208333333vw);
  margin: 0 auto;
  color: white;
}
section.main .content .title {
  font-weight: 700;
  animation: show_title 1s ease-in;
}
@keyframes show_title {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transition: 0.8s ease-out;
  }
}
section.main .content .selected_information {
  display: flex;
  margin-top: 80px;
  font-weight: 300;
}
@media (max-width: 400px) {
  section.main .content .selected_information {
    margin-top: 40px;
  }
}
section.main .content .selected_information ul {
  display: flex;
}
@media (max-width: 400px) {
  section.main .content .selected_information ul {
    flex-direction: column;
  }
}
section.main .content .selected_information ul li {
  opacity: 0;
  animation: show_item 1s ease-in forwards;
  animation-delay: calc(var(--i) * 0.4s + 1s);
}
@media (max-width: 400px) {
  section.main .content .selected_information ul li {
    margin-top: 12px;
  }
}
section.main .content .selected_information ul li:not(:last-child) {
  margin-right: calc(10px + 4.6875vw);
}
section.main .content .selected_information ul li a {
  display: inline-block;
}
@keyframes show_item {
  to {
    opacity: 1;
  }
}
section.main .content .buttons {
  display: flex;
  width: max-content;
  margin-top: 80px;
}
section.main .content .buttons .button {
  opacity: 0;
  animation: main__show_buttom 0.5s ease-in forwards;
  animation-delay: calc(var(--i) * 0.5s + 2.2s);
}
@keyframes main__show_buttom {
  from {
    transform: translateY(10px) scale(1.05);
  }
  70% {
    opacity: 1;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@media (max-width: 900px) {
  section.main .content .buttons {
    flex-direction: column;
    align-items: start;
  }
  section.main .content .buttons > * {
    font-size: 12px;
    padding: 10px 20px;
    width: 100%;
  }
}
@media (max-width: 400px) {
  section.main .content .buttons {
    margin-top: 40px;
  }
}
section.main .content .buttons > *:not(:last-child) {
  margin-right: 2.0833333333vw;
}
@media (max-width: 900px) {
  section.main .content .buttons > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

section.blabla {
  margin-top: 88px;
  color: white;
}
section.blabla .showAnim {
  transition: 0.5s ease-in;
}
section.blabla .waitingElement {
  transform: translateY(30px);
  opacity: 0;
}
section.blabla h3 {
  width: calc(150px + 28.6458333333vw);
  max-width: 700px;
  line-height: 1.7;
}
@media (max-width: 600px) {
  section.blabla h3 {
    width: auto;
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  section.blabla h3 {
    font-size: 14px;
  }
}

section.portfolio_work {
  position: relative;
  margin-top: calc(40px + 7.8125vw);
}
section.portfolio_work ul li {
  display: flex;
  align-items: center;
  position: relative;
  height: calc((80px + 61.4583333333vw) / 2);
  max-height: 630px;
}
section.portfolio_work ul li:not(:first-child) {
  margin-top: calc(40px + 14.5833333333vw);
}
section.portfolio_work ul li .background {
  position: absolute;
  right: 0;
  z-index: -1;
  height: 100%;
  opacity: 0.3;
  overflow: hidden;
}
section.portfolio_work ul li .background img {
  height: 100%;
  transform: scale(1);
  transform-origin: center center;
  transition-duration: 500ms;
}
section.portfolio_work ul li .background .frame {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5%;
  background-color: var(--bodyColor);
  z-index: 5;
}
@media (max-width: 770px) {
  section.portfolio_work ul li .background .frame {
    display: none;
  }
}
section.portfolio_work ul li .background .frame.right_frame {
  left: auto;
  right: 0;
}
section.portfolio_work ul li .content {
  width: 1000px;
  color: white;
}
section.portfolio_work ul li .content .line_decoration {
  width: 20px;
  height: 2px;
  background-color: red;
  transition: 0.2s ease-out 100ms;
}
section.portfolio_work ul li .content .line_decoration.hover {
  width: 90px;
}
section.portfolio_work ul li .content h3 {
  margin-top: 2%;
  font-weight: 700;
}
section.portfolio_work ul li .content .button {
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 14px;
}
section.portfolio_work ul li.showAnim .background::after {
  content: "123";
  position: absolute;
  inset: 0;
  background-color: var(--bodyColor);
  transform: translateX(100%);
  transition: 0.8s ease-out;
}
section.portfolio_work ul li.showAnim .content {
  transition: 0.5s ease-in;
}
section.portfolio_work ul li.waitingElement .background::after {
  transform: translateX(0%);
}
section.portfolio_work ul li.waitingElement .content {
  transform: translateY(30px);
  opacity: 0;
}
section.portfolio_work ul li:hover img {
  transform: scale(1.05);
}
section.portfolio_work a.show_works {
  display: block;
  margin-top: calc(40px + 6.25vw);
  text-align: center;
  font-size: calc(15px + 1.3020833333vw);
  color: white;
}
@media (min-width: 1920px) {
  section.portfolio_work a.show_works {
    font-size: 40px;
  }
}
section.portfolio_work a.show_works sup {
  font-size: 70%;
  vertical-align: super;
}

section.clients .text_block {
  margin-top: calc(50px + 7.8125vw);
  width: 100%;
  max-width: 630px;
  color: white;
}
section.clients .text_block .title {
  font-size: 30px;
  font-weight: 700;
}
section.clients .text_block p {
  margin-top: 25px;
  font-weight: 300;
  line-height: 1.7;
}
@media (max-width: 1000px) {
  section.clients .text_block .title {
    font-size: 26px;
  }
  section.clients .text_block p {
    margin-top: 16px;
  }
}
@media (max-width: 560px) {
  section.clients .text_block .title {
    font-size: 22px;
  }
  section.clients .text_block p {
    margin-top: 12px;
  }
}
section.clients ul.logos {
  margin-top: calc(30px + 3.125vw);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
section.clients ul.logos li {
  display: flex;
  width: max-content;
  padding: 50px 15px;
}
section.clients ul.logos li a {
  width: max-content;
}
@media (max-width: 1000px) {
  section.clients ul.logos {
    grid-template-columns: 1fr 1fr 1fr;
  }
  section.clients ul.logos li {
    padding: 40px 10px;
  }
  section.clients ul.logos li img {
    transform: scale(0.8);
  }
}
@media (max-width: 770px) {
  section.clients ul.logos {
    grid-template-columns: 1fr 1fr;
  }
  section.clients ul.logos li {
    padding: 30px 10px;
  }
  section.clients ul.logos li img {
    transform: scale(0.8);
  }
}
@media (max-width: 400px) {
  section.clients ul.logos {
    grid-template-columns: 50% 50%;
  }
  section.clients ul.logos li {
    padding: 30px 0;
  }
  section.clients ul.logos li img {
    transform: scale(0.7);
  }
}

section.comments {
  margin-top: calc(40px + 2.6041666667vw);
  color: white;
}
section.comments .block_title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.07;
}
section.comments ul.comments {
  margin-top: calc(50px + 3.125vw);
  display: grid;
  align-items: baseline;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10%;
}
@media (max-width: 1000px) {
  section.comments ul.comments {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1000px) {
  section.comments ul.comments li:not(:last-child) {
    margin-bottom: calc(50px + 5vw);
  }
}
section.comments ul.comments li a.text {
  font-size: 14px;
}
section.comments ul.comments li a.text:hover {
  cursor: pointer;
}
section.comments ul.comments li a.text p {
  margin-bottom: 10px;
  line-height: 1.7;
}
section.comments ul.comments li .line {
  margin-top: 10px;
  position: relative;
  height: 1px;
  --line_color: #8E8E8E;
  background-color: var(--line_color);
}
section.comments ul.comments li .line .angle {
  position: relative;
  left: 80px;
  height: 20px;
  width: 0;
  border-left: 1px solid var(--line_color);
}
section.comments ul.comments li .line .angle:before {
  content: "";
  display: block;
  position: absolute;
  background-color: transparent;
  border-left: 30px solid var(--line_color);
  border-bottom: 20px solid transparent;
}
section.comments ul.comments li .line .angle:after {
  content: "";
  display: block;
  position: absolute;
  background-color: transparent;
  border-left: 28px solid var(--bodyColor);
  border-bottom: 19px solid transparent;
}
section.comments ul.comments li .client {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
section.comments ul.comments li .client .logo {
  margin-right: 15px;
}
section.comments ul.comments li .client .logo img {
  max-height: 80px;
}
section.comments ul.comments li .client .name {
  font-weight: 700;
}
section.comments ul.comments li .client .info_about_client {
  margin-top: 5px;
  color: #8E8E8E;
  line-height: 24px;
}

section.why_we {
  margin-top: calc(100px + 5.2083333333vw);
  color: white;
}
section.why_we .title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
section.why_we ul {
  margin-top: calc(50px + 2.6041666667vw);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5%;
  grid-row-gap: 10%;
  font-weight: 500;
  line-height: 150%;
}
@media (max-width: 1000px) {
  section.why_we ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 700px) {
  section.why_we ul {
    font-size: 14px;
  }
}
section.why_we ul li p {
  margin-top: calc(25px + 1.3020833333vw);
}

section.our_calling {
  margin-top: calc(100px + 5.2083333333vw);
  padding-top: calc(100px + 5.2083333333vw);
}
section.our_calling .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5%;
  grid-row-gap: 70px;
}
@media (max-width: 1200px) {
  section.our_calling .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  section.our_calling .grid {
    grid-template-columns: 1fr;
  }
}
section.our_calling .grid .title {
  font-size: 28px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@media (max-width: 1200px) {
  section.our_calling .grid .title {
    font-size: 28px;
  }
}
@media (max-width: 800px) {
  section.our_calling .grid .title {
    max-width: 500px;
    text-align: center;
    font-size: 26px;
  }
  section.our_calling .grid .title br {
    display: none;
  }
}
@media (max-width: 400px) {
  section.our_calling .grid .title {
    font-size: 20px;
  }
}
section.our_calling .grid .card {
  cursor: pointer;
}
section.our_calling .grid .card .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.our_calling .grid .card .wrapper .price {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4);
}
section.our_calling .grid .card .wrapper .price .number {
  font-size: 24px;
}
section.our_calling .grid .card .card__title {
  margin: 20px 0;
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
}
section.our_calling .grid .card .card__title._template_underline_style_0__target::after {
  background-color: black;
}
section.our_calling .grid .card .card__description {
  font-size: 14px;
  line-height: 1.5;
}
section.our_calling .view_services {
  display: block;
  margin: calc(80px + 3.125vw) auto 20px;
  text-align: center;
  font-size: calc(15px + 1.3020833333vw);
}
@media (min-width: 1920px) {
  section.our_calling .view_services {
    font-size: 40px;
  }
}
section.our_calling .view_services ._template_underline_style_1 {
  --line-color:black;
  --line-height: 2px;
}

section.form {
  margin-top: calc(100px + 5.2083333333vw);
  color: white;
}
section.form .block_title {
  font-size: 30px;
}
section.form .wrapper {
  margin-top: calc(20px + 2.0833333333vw);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  section.form .wrapper {
    display: block;
  }
}
section.form .wrapper form {
  flex-shrink: 1;
}
@media (max-width: 650px) {
  section.form .wrapper form .form_wrapper {
    flex-direction: column;
  }
  section.form .wrapper form .form_wrapper > * {
    margin-left: 0 !important;
  }
}
section.form .wrapper form .input {
  position: relative;
  display: block;
  margin-top: 50px;
  width: 100%;
}
@media (max-width: 650px) {
  section.form .wrapper form .input {
    margin-top: 70px;
  }
}
section.form .wrapper form .input:not(:first-child):not(.message_input) {
  margin-left: 20px;
}
section.form .wrapper form .input input,
section.form .wrapper form .input textarea {
  position: relative;
  top: -7px;
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 16px;
}
section.form .wrapper form .input input:focus, section.form .wrapper form .input input:active, section.form .wrapper form .input input:valid,
section.form .wrapper form .input textarea:focus,
section.form .wrapper form .input textarea:active,
section.form .wrapper form .input textarea:valid {
  outline: 0;
}
section.form .wrapper form .input input:focus ~ .line__box .line, section.form .wrapper form .input input:active ~ .line__box .line, section.form .wrapper form .input input:valid ~ .line__box .line,
section.form .wrapper form .input textarea:focus ~ .line__box .line,
section.form .wrapper form .input textarea:active ~ .line__box .line,
section.form .wrapper form .input textarea:valid ~ .line__box .line {
  transform: translateX(0%);
  transition: 0.2s ease-in;
}
section.form .wrapper form .input input:focus + i, section.form .wrapper form .input input:active + i, section.form .wrapper form .input input:valid + i,
section.form .wrapper form .input textarea:focus + i,
section.form .wrapper form .input textarea:active + i,
section.form .wrapper form .input textarea:valid + i {
  top: -35px;
  font-size: 14px;
}
section.form .wrapper form .input input:focus ~ i.telSymbol, section.form .wrapper form .input input:active ~ i.telSymbol, section.form .wrapper form .input input:valid ~ i.telSymbol,
section.form .wrapper form .input textarea:focus ~ i.telSymbol,
section.form .wrapper form .input textarea:active ~ i.telSymbol,
section.form .wrapper form .input textarea:valid ~ i.telSymbol {
  opacity: 1;
}
section.form .wrapper form .input input#message,
section.form .wrapper form .input textarea#message {
  width: 100%;
}
section.form .wrapper form .input.tel_input {
  box-sizing: border-box;
}
section.form .wrapper form .input.tel_input i.telSymbol {
  position: absolute;
  left: 0;
  top: -7px;
  opacity: 0;
}
section.form .wrapper form .input.tel_input input {
  margin-left: 10px;
  width: 90%;
}
section.form .wrapper form .input i.placeholder {
  position: absolute;
  left: 0px;
  top: -7px;
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s ease-in;
  opacity: 0.5;
}
section.form .wrapper form .input .line__box {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
section.form .wrapper form .input .line__box .line {
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 200%;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.3) 50%, white 50%);
  transform: translateX(-50%);
  transition: 0.3s ease-in;
}
section.form .wrapper form .input textarea,
section.form .wrapper form .input .textareaSizeMetter {
  padding: 0;
  overflow: visible;
  font-size: 16px;
  font-family: Montserrat;
  overflow-wrap: break-word;
  overflow: hidden;
  min-height: 20px;
}
section.form .wrapper form .input textarea {
  height: 20px;
  resize: none;
}
section.form .wrapper form .input .textareaSizeMetter {
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  z-index: -100;
}
section.form .wrapper form .submit {
  margin-top: 50px;
}
section.form .wrapper form .submit input {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: inherit;
  text-transform: uppercase;
  background-color: transparent;
  color: inherit;
  border: 0;
}
section.form .wrapper form .form_wrapper {
  display: flex;
}
section.form .wrapper .our_contacts {
  margin-left: 20px;
  width: 300px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  color: #868686;
  flex-shrink: 0;
}
@media (max-width: 1200px) {
  section.form .wrapper .our_contacts {
    display: flex;
    margin-top: 50px;
    width: 100%;
    margin-left: 0px;
  }
}
@media (max-width: 650px) {
  section.form .wrapper .our_contacts {
    flex-direction: column;
  }
}
section.form .wrapper .our_contacts > *:not(:first-child) {
  margin-top: 30px;
}
@media (max-width: 1200px) {
  section.form .wrapper .our_contacts > *:not(:first-child) {
    margin-top: 0px;
    margin-left: 20px;
  }
}
@media (max-width: 650px) {
  section.form .wrapper .our_contacts > *:not(:first-child) {
    margin-top: 30px;
    margin-left: 0px;
  }
}
@media (max-width: 1200px) {
  section.form .wrapper .our_contacts > * {
    width: 100%;
  }
}
section.form .wrapper .our_contacts a {
  margin-top: 15px;
  color: white;
}
section.form .wrapper .our_contacts .messages {
  display: inline-block;
  margin-left: 20px;
}
section.form .wrapper .our_contacts .messages path {
  fill: white;
}
section.form .wrapper .our_contacts .messages > * {
  margin-left: 15px;
}

section.footer {
  margin: calc(100px + 7.8125vw) 0 30px;
}
section.footer .copyright {
  font-size: 12px;
  color: white;
  opacity: 0.5;
}
/*# sourceMappingURL=style.css.map */
